{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Sign In</h5>
                        <hr class="my-4">
                        {% if json_status is defined %}
                            <twitter-status status="{{ json_status }}"></twitter-status>
                        {% else %}
                            <a href="{{ url }}"><img src="{{ asset('build/sign-in-with-twitter-gray.png.img.fullhd.medium.png') }}" alt="Sign in with Twitter button"></a>
                        {% endif %}
                        <hr class="my-4">
                        <p>If something doesn't work, please <a href="{{ path('clear') }}">clear the session</a> and try again.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
