{% extends "base.html.twig" %}

{% block title %}Callback{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Verfify</h5>
                        <hr class="my-4">
                        <twitter-user user="{{ json_user }}"></twitter-user>
                        <hr class="my-4">
                        <p>If you see your Twitter profile above, let's <a href="{{ path('redirect') }}">connect to Instagram</a>.</p>
                        <p>If not, please <a href="{{ path('clear') }}">go back</a> and try again.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
